img {
    height: auto;
    width: 800px;
}

.h1title {
    font-size: 65px;
    font-family: sans-serif;
    text-align: center;
}

.prepare {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
}

.preparelist {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    text-align: left;
}

.note {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    text-align: left;
    text-decoration: wavy;
    font-style: italic;
}

.ingredients {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
}

.ingredientslist {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    text-align: left;
}

.step {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
}

.stepprocess {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;

}